@font-face {
    font-family: 'Fusion Pixel';
    src: local('Fusion Pixel'), url('/assets/fusion-pixel-12px-monospaced-zh_hans.otf') format('truetype');
}

@font-face {
    font-family: 'Dung Geun';
    src: local('Dung Geun'), url('/assets/DungGeunMo.otf') format('truetype');
}

 :root {
    font-family: Fusion Pixel, Dung Geun;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --bg: black;
    --ft: white;
    --table-bg: #F8F8F8;
    --table-border: #d3d3d3;
    --color-1: #E19DE8;
    --color-2: #A6EEE0;
    --color-3: #959593;
    --color-1-h: #EAD2EC;
    --color-2-h: #71B2DA;
}

a {
    font-weight: 500;
    color: var(--color-1);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-1-h);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 0;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: box-shadow 0.25s;
    --bg-color: var(--color-2);
    --border-color: var(--bg);
    background-color: var(--bg-color);
    box-shadow: 0 .2em var(--border-color), 0 -.2em var(--border-color), .2em 0 var(--border-color), -.2em 0 var(--border-color);
    border-radius: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    line-height: 16px;
}

input,
select,
textarea {
    border: none;
    font-family: Fusion Pixel, Dung Geun;
    --border-color: var(--bg);
    box-shadow: 0 .1em var(--border-color), 0 -.1em var(--border-color), .1em 0 var(--border-color), -.1em 0 var(--border-color);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '√';
    position: absolute;
    left: 2px;
    top: -2px;
    font-size: 16px;
    color: var(--color-1);
}

button:hover,
li:hover,
li.focused {
    --bg-color: var(--color-2-h);
}

li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--table-border);
    cursor: pointer;
    transition: border-color 0.25s;
}

.card {
    padding: 2em;
}